*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

img {
  display: block;
}

:root {
  --color-background: #f8cb39;
  --color-text: #000;

  --ff-normal: "Red Hat Display", sans-serif;
  --ff-gothic: "Dela Gothic One", sans-serif;

  --fs-h1: 50px;
  --fs-h2: 40px;
  --fs-h3: 45px;
  --fs-text: 30px;
  --fs-text-medium: 24px;
  --fs-text-small: 20px;
  --fs-text-xs: 18px;
  --fs-text-xxs: 16px;
}

html {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--ff-normal);
  font-size: var(--fs-text);
}

body {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1200px;
}

.border {
  margin: 60px;
  border: 2px solid var(--color-text);
  min-height: 100vh;
}

.nav {
  display: flex;
  align-items: center;
  margin: 40px 70px;
}

.nav__links-holder {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav__link {
  font-size: var(--fs-text-xs);
  color: var(--color-text);
  text-decoration: none;
}

.button {
  font-size: var(--fs-text-xs);
  font-weight: 500;
  border: none;
  background-color: var(--color-text);
  color: var(--color-background);
  padding: 0.5em 2em;
  cursor: pointer;
}

.section {
  padding: 70px;
}

.landing__hero {
  position: relative;
  padding-top: 150px;
  padding-bottom: 200px;
}

.landing__hero__heading {
  font-family: var(--ff-gothic);
  font-size: var(--fs-h1);
  margin-bottom: 12px;
}

.landing__hero__paragraph {
  max-width: 18em;
  margin-bottom: 36px;
  font-size: var(--fs-text-xxs);
}

.landing__hero__image__container {
  position: absolute;
  top: -20px;
  right: -80px;
}

.landing__hero__image {
  width: 100%;
}

@media (max-width: 1200px) {
  .landing__hero {
    padding-top: 0;
    padding-bottom: 0;
  }

  .landing__hero__image__container {
    position: static;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
