*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

img {
  display: block;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

:root {
  --color-background: #f8cb39;
  --color-text: #000;

  --ff-normal: "Red Hat Display", sans-serif;
  --ff-gothic: "Dela Gothic One", sans-serif;

  --fs-h1: 50px;
  --fs-h2: 40px;
  --fs-h3: 45px;
  --fs-h4: 22px;
  --fs-h5: 18px;
  --fs-text: 30px;
  --fs-text-medium: 24px;
  --fs-text-small: 20px;
  --fs-text-xs: 18px;
  --fs-text-xxs: 16px;

  --section-padding: 70px;

  --border: 2px solid var(--color-text);
  --box-shadow: 2px 2px var(--color-text);
}

html {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--ff-normal);
  font-size: var(--fs-text);
}

body {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.image {
  width: 100%;
  height: auto;
}

.flex {
  display: flex;
}

.justify-end {
  justify-content: flex-end;
}

.container {
  width: 100%;
  max-width: 1200px;
}

.border {
  margin: 60px;
  border: 2px solid var(--color-text);
}

.nav {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  margin: var(--section-padding) var(--section-padding) 30px;
}

.nav__links-holder {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav__link {
  font-size: var(--fs-text-xs);
  color: var(--color-text);
  text-decoration: none;
}

.nav__link--current {
  font-weight: 700;
}

.nav__hamburger-button {
  display: none;
  margin-left: auto;
  cursor: pointer;
}

.nav__hamburger-icon {
  display: none;
}

.footer {
  padding: var(--section-padding);
  font-size: 16px;
}

.footer__logo {
  display: block;
  margin-bottom: 16px;
}

.footer__address-and-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
  margin-bottom: 50px;
}

.footer__address {
  margin-top: 12px;
}

.footer__nav__links-container {
  list-style: none;
  display: grid;
  grid-template-columns: 60% 1fr;
  column-gap: 50px;
  row-gap: 12px;
}

.footer__nav__link {
  color: var(--color-text);
  text-decoration: none;
}

.footer__social-media__container {
  display: flex;
  gap: 12px;
  list-style: none;
  margin-bottom: 12px;
}

.button {
  font-size: var(--fs-text-xs);
  font-weight: 500;
  border: none;
  background-color: var(--color-text);
  color: var(--color-background);
  padding: 0.5em 2em;
  cursor: pointer;
  box-shadow: 3px 3px var(--color-text);
}

.button:hover {
  translate: -2px -2px;
  box-shadow: 5px 5px var(--color-text);
}

.button:active {
  translate: 3px 3px;
  box-shadow: none;
}

.button--header {
  font-size: var(--fs-text-xs);
  font-weight: 500;
  border: none;
  background-color: var(--color-text);
  color: var(--color-background);
  padding: 0.5em 2em;
  cursor: pointer;
}

.page__heading {
  font-family: var(--ff-gothic);
  font-size: var(--fs-h1);
  margin-bottom: 20px;
}

.section {
  margin-top: var(--section-padding);
  padding: 0 var(--section-padding) var(--section-padding)
    var(--section-padding);
  border-bottom: 2px solid var(--color-text);
}

.section__heading {
  font-family: var(--ff-gothic);
  font-size: var(--fs-h2);
  margin-bottom: 20px;
}

.section__text {
  font-size: var(--fs-text-xxs);
  max-width: 50%;
}

.programs__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 12px;
  row-gap: 12px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.program-card {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 20px;
  border: 2px solid var(--color-text);
  box-shadow: 2px 2px var(--color-text);
}

.program-card__title {
  font-size: 22px;
  font-weight: 700;
}

.program-card__info__paragraph {
  font-size: 16px;
}

.program-card__image-container {
  position: absolute;
  right: 10%;
  bottom: 10%;
  left: 20%;
  /* top: 30px; */
}

.program-card__image {
  width: 100%;
  height: auto;
}

.program-card__link {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.about__right-align {
  display: flex;
  justify-content: end;
}

.about__text__right-align {
  text-align: end;
}

.team-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 50px;
}

.team-card__image {
  width: 100%;
  height: auto;
  border: var(--border);
  box-shadow: var(--box-shadow);
  margin-bottom: 16px;
}

.team-card__name {
  font-size: var(--fs-h4);
  font-weight: 700;
}

.team-card__job {
  font-size: var(--fs-text-xxs);
}

.hiring-links__list {
  list-style: none;
  margin-top: 50px;
}

.hiring-link {
  display: flex;
  justify-content: space-between;
  border: var(--border);
  box-shadow: var(--box-shadow);
  padding: 20px 40px;
  font-size: var(--fs-h4);
  font-weight: 700;
  margin-bottom: 20px;
}

.hiring-link:hover {
  translate: -2px -2px;
  box-shadow: 4px 4px var(--color-text);
}

.hiring-link:active {
  translate: 2px 2px;
  box-shadow: none;
}

@media (max-width: 1200px) {
  .programs__list {
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
  }
}

@media (max-width: 900px) {
  .footer__address-and-nav {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }

  .border {
    margin: 40px;
  }

  :root {
    --section-padding: 30px;
  }

  .nav {
    margin-bottom: 0;
  }

  .nav__links-holder {
    display: none;
    grid-column: 1 / 3;
  }

  .nav__links-holder.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0;
    padding-bottom: 50px;
    min-height: 58vh;
  }

  .nav__link {
    font-size: 25px;
  }

  .nav__hamburger-button {
    display: block;
  }

  .nav__hamburger-icon.visible {
    display: block;
  }

  .team-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .programs__list {
    grid-template-columns: 1fr;
  }

  .footer__nav__links-container {
    grid-template-columns: 1fr;
  }

  .border {
    margin: 16px;
  }

  :root {
    --section-padding: 16px;

    --fs-h1: 36px;
    --fs-h2: 30px;
  }

  .section__text {
    max-width: 100%;
  }

  .about__right-align {
    display: block;
  }

  .about__text__right-align {
    text-align: start;
  }

  .team-cards {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }

  .nav__links-holder.visible {
    min-height: 67vh;
  }
}
