.hero {
  padding-top: 150px;
  padding-bottom: 250px;
  position: relative;
}

.hero__heading {
  max-width: 70%;
}

.hero__text {
  margin-bottom: 30px;
}

.hero__image-container {
  position: absolute;
  right: -50px;
  top: -80px;
}

.article-link__container {
  border: var(--border);
  box-shadow: var(--box-shadow);
  padding: 20px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 30px;
  column-gap: 60px;
  margin-bottom: 30px;
}

.article-link__title {
  font-size: var(--fs-h4);
  font-weight: 700;
  margin-bottom: 8px;
}

.article-link__topic {
  margin-top: auto;
  font-size: var(--fs-h5);
  font-weight: 500;
}

.article-link__description {
  font-size: 16px;
}

.article-link__title-container {
  display: flex;
  flex-direction: column;
}

.article-link__description-container {
  display: flex;
  align-items: center;
}

.article-link__link-container {
  display: flex;
  align-items: center;
}

@media (max-width: 1200px) {
  .hero {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .hero__heading {
    max-width: none;
    order: 1;
  }

  .hero__image-container {
    position: static;
    order: 2;
    margin-bottom: 30px;
  }

  .hero__image {
    max-width: 70%;
  }

  .hero__text {
    order: 3;
  }

  .hero__button-container {
    order: 4;
  }
}

@media (max-width: 900px) {
  .article-link__container {
    display: flex;
    flex-direction: column;
  }

  .article-link__description-container {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .article-link__link-container {
    justify-content: flex-end;
  }
}

@media (max-width: 600px) {
  .hero__heading {
    text-align: center;
  }

  .hero__image-container {
    display: flex;
    justify-content: center;
  }

  .hero__text {
    text-align: center;
  }

  .hero__button-container {
    display: flex;
    justify-content: center;
  }
}
